/**
 *
 * Layout Mixins
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2019-05-27
 *
 */


// @mixin layout-side-margin($max-width, $side-margin: false) {
// 	$w: 100%;
// 	@if $side-margin != false {
// 		$w: calc(100% - #{$side-margin * 2});
// 	}
// 	margin: { left: auto; right: auto; }
// 	max-width: $max-width;  // must be max-width for Android Chrome
// 	width: $w;  // must be width for Android Chrome
// }

// @mixin layout-width-breakpoint($min-width, $breakpoint, $max-width) {
// 	min-width: $min-width;
// 	width: calc((#{$breakpoint} - 100%) * 1000);
// 	max-width: $max-width;
// }

// @mixin layout-full-width($side-margin: false) {
// 	$m: calc(50% - 50vw);
// 	@if $side-margin != false {
// 		$m: calc(#{$side-margin} + 50% - 50vw);
// 	}
// 	margin: { left: $m; right: $m; }
// }


// -----------------------------------------------------------------------------


// @mixin layout-centering($inline: false) {
// 	@if $inline == false {
// 		display: flex;
// 	} @else {
// 		display: inline-flex;
// 	}
// 	align-items: center;
// 	justify-content: center;
// }

// @mixin layout-centering-self($horizontal: true, $vertical: true, $position: absolute) {
// 	position: $position;
// 	@if $horizontal == true and $vertical == true {
// 		top: 50%;
// 		left: 50%;
// 		transform: translate(-50%, -50%);
// 	} @else if $horizontal == true {
// 		left: 50%;
// 		transform: translateX(-50%);
// 	} @else if $vertical == true {
// 		top: 50%;
// 		transform: translateY(-50%);
// 	}
// }

// @mixin layout-fill-self($position: absolute, $by-height: false) {
// 	position: $position;
// 	top: 0;
// 	left: 0;
// 	right: 0;

// 	@if $by-height == false {
// 		bottom: 0;
// 	} @else {
// 		min-height: 100%;
// 	}
// }


// -----------------------------------------------------------------------------


// @mixin layout-aspect($width, $height, $by-height: false) {
// 	position: relative;

// 	&:before {
// 		content: '';
// 		display: block;
// 		padding-top: ($height / $width * 100%);
// 	}

// 	> *:first-child {
// 		@include layout-fill-self(absolute, $by-height);
// 	}
// }

// @mixin layout-aspect-gold {
// 	@include layout-aspect(1.618, 1);
// }

// @mixin layout-minimum-aspect($width, $height) {
// 	position: relative;

// 	&::before, &::after {
// 		content: '';
// 		display: block;
// 	}
// 	&::before {
// 		padding-top: ($height / $width * 100%);
// 		float: right;
// 	}
// 	> * { clear: none; }
// 	&::after { clear: both; }
// }

// @mixin layout-minimum-aspect-gold {
// 	@include layout-minimum-aspect(1.618, 1);
// }


// -----------------------------------------------------------------------------


// @mixin layout-gap($x, $y) {
// 	margin-right: -$x;
// 	margin-bottom: -$y;

// 	> *:not(:empty) {
// 		margin-right: $x;
// 		margin-bottom: $y;
// 	}
// }

// @mixin layout-wrap($gap: false, $align: center) {
// 	$gap_x: $gap;
// 	$gap_y: $gap;
// 	@if $gap != false and length($gap) == 2 {
// 		$gap_x: nth($gap, 1);
// 		$gap_y: nth($gap, 2);
// 	}
// 	@if $gap != false {
// 		@include layout-gap($gap_x, $gap_y);
// 	}
// 	display: flex;
// 	flex-wrap: wrap;
// 	justify-content: $align;
// }

// @mixin layout-responsive-column($cont-width, $n, $gap: false) {
// 	$gap_x: $gap;
// 	$gap_y: $gap;
// 	@if $gap != false and length($gap) == 2 {
// 		$gap_x: nth($gap, 1);
// 		$gap_y: nth($gap, 2);
// 	}
// 	$cw: 100% / $n;

// 	display: flex;
// 	flex-wrap: wrap;
// 	flex-direction: row;

// 	@if $gap != false {
// 		margin-right: -$gap_x;
// 		margin-bottom: -$gap_y;
// 		> * {
// 			margin-right: $gap_x;
// 			margin-bottom: $gap_y;
// 		}
// 	}
// 	> * {
// 		max-width: 100%;
// 		flex-grow: 1;
// 		flex-basis: calc((#{$cont-width} - 100%) * 1000);

// 		@if $gap != false {
// 			min-width: calc(#{$cw} - #{$gap_x});
// 		} @else {
// 			min-width: $cw;
// 		}
// 	}
// }


// -----------------------------------------------------------------------------


// @mixin layout-column($n, $gap: false) {
// }

// @mixin layout-column-cancel($gap: false) {
// }


// -----------------------------------------------------------------------------


// @mixin layout-card($n, $gap: false, $align-left: true, $width-offset-ie: 1px) {
// }


// -----------------------------------------------------------------------------


// @mixin layout-masonry($n, $gap: false) {
// 	column-count: $n;
// 	column-gap: $gap;
// 	line-height: 0;

// 	@if $gap != false {
// 		margin-bottom: -$gap;
// 	}
// 	> * {
// 		display: inline-block;
// 		line-height: 1;
// 		width: 100%;

// 		@if $gap != false {
// 			margin-bottom: $gap;
// 		}
// 	}
// }


// =============================================================================


@mixin layout-column-v2($n, $gap: false) {
	@if 1 < length($n) {
		@include _layout-column-ratio($n, $gap);
	} @else if 1 < $n {
		@include _layout-column-equal($n, $gap);
	} @else {
		@include _layout-column-cancel($gap);
	}
}

	@mixin _layout-column-equal($n, $gap: false) {
		display: flex;
		flex-direction: row;

		> * {
			flex: { grow: 1; shrink: 1; }
			$cw: 100% / $n;
			@if $gap == false {
				flex-basis: $cw;
			} @else {
				$cg: $gap * ($n - 1) / $n;
				flex-basis: calc(#{$cw} - #{$cg});
				& + * { margin: { left: $gap; top: 0; } }
			}
		}
	}

	@mixin _layout-column-ratio($rs, $gap: false) {
		display: flex;
		flex-direction: row;

		> * {
			flex: { grow: 1; shrink: 1; }
			@if $gap != false {
				& + * { margin: { left: $gap; top: 0; } }
			}
		}
		$n: length($rs);
		$cg: if($gap == false, 0, $gap * ($n - 1) / $n);
		$sum: 0;
		@each $r in $rs { $sum: $sum + $r; }

		@for $i from 1 through $n {
			> *:nth-child(#{$i}) {
				$cw: percentage(nth($rs, $i) / $sum);
				@if $gap == false {
					flex-basis: $cw;
				} @else {
					flex-basis: calc(#{$cw} - #{$cg});
				}
			}
		}
	}

	@mixin _layout-column-cancel($gap: false) {
		display: flex;
		flex-direction: column;

		> * {
			flex-basis: auto;
			@if $gap != false {
				& + * { margin: { left: 0; top: $gap; } }
			}
		}
	}


// -----------------------------------------------------------------------------


@mixin layout-card-v2($n, $gap: false, $align-left: true) {
	$gap_x: $gap;
	$gap_y: $gap;
	@if $gap != false and length($gap) == 2 {
		$gap_x: nth($gap, 1);
		$gap_y: nth($gap, 2);
	}

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;  // For reducing calculation error on IE11 and Edge

	> * {
		flex: { grow: 1; shrink: 1; }

		$cw: 100% / $n;

		@if $gap == false {
			flex-basis: $cw;
			max-width: $cw;
		} @else {
			$cg: $gap_x * ($n - 1) / $n;
			flex-basis: calc(#{$cw} - #{$cg});
			max-width: calc(#{$cw} - #{$cg});

			&:not(:nth-child(#{$n}n + 1)) {
				margin-left: calc(#{$gap_x} - 1px);  // For reducing calculation error on IE11 and Edge
			}
			&:nth-child(n + #{$n + 1}) {
				margin-top: $gap_y;
			}
		}
	}
	@if $align-left {
		@include _layout-card-tail-margin($n, $gap_x);
	}
}

	@mixin _layout-card-tail-margin($n, $gap: false) {
		$cw: 100% / $n;
		$cg: if($gap == false, 0, $gap * ($n - 1) / $n);

		@for $i from 1 through ($n - 1) {
			> *:nth-child(#{$n}n+#{$i}):last-child {
				@if $gap == false {
					margin-right: #{$cw * ($n - $i)};
				} @else {
					margin-right: calc((#{$cw} - #{$cg} + #{$gap}) * #{$n - $i});
				}
			}
		}
	}
