/**
 *
 * Content Style (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2018-11-07
 *
 */


@import 'basic/base';


$stile-content-color-accent    : red !default;
$stile-content-color-rule      : green !default;
$stile-content-color-heading   : blue !default;
$stile-content-color-background: pink !default;


$stile-block-color-line             : $stile-content-color-rule !default;
$stile-block-color-shade            : $stile-content-color-background !default;
$stile-heading-color-text           : $stile-content-color-heading !default;
$stile-list-color-mark              : $stile-content-color-accent !default;
$stile-table-color-rule-horizontal  : $stile-content-color-rule !default;
$stile-table-color-header-text      : $stile-content-color-heading !default;
$stile-table-color-header-background: $stile-content-color-background !default;


@import 'content/margin';
@import 'content/block';
@import 'content/heading';
@import 'content/link';
@import 'content/inline';
@import 'content/list';
@import 'content/table';
@import 'content/print';


@mixin stile-content($set-heading-design: true) {
	@include stile-margin;

	@include stile-block;
	@include stile-heading($set-heading-design);
	@include stile-inline;
	@include stile-link;
	@include stile-list;
	@include stile-table;

	@media print { @include stile-print; }
}
