@charset 'utf-8';

@import 'content/block';
@import 'content/heading';
@import 'content/link';
@import 'content/inline';
@import 'content/list';
@import 'content/table';
@import 'content/print';


/**
 *
 * Content Style (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2018-01-19
 *
 */


$block-color-line:            #369 !default;
$heading-color-text:          #777 !default;
$inline-color-link-text:      #1a0dab !default;
$list-color-mark:             #369 !default;
$table-color-rule-horizontal: #369 !default;
$table-color-header-text:     #666 !default;

$stile-size-unit: 0.9rem !default;
@function vr($val) {@return $val * $stile-size-unit;}


@mixin stile-content($set-heading-design: true) {

	text-align: center;  // for table on IE11
	> * { text-align: left; }  // for table on IE11

	@include stile-margin;

	@include stile-block;
	@include stile-heading($set-heading-design);
	@include stile-inline;
	@include stile-link;
	@include stile-list;
	@include stile-table;

	@media print { @include stile-print; }

}

@mixin stile-margin() {

	> * + * { margin-top: vr(2); }
	> *:first-child.alignleft + *:not([class]) { margin-top: 0; }
	> *:first-child.alignright + *:not([class]) { margin-top: 0; }

	* + pre { margin-top: vr(2); }
	pre + * { margin-top: vr(2); }
	* + blockquote { margin-top: vr(2); }
	blockquote + * { margin-top: vr(2); }

	*:not([class]) + table { margin-top: vr(4); }
	table + *:not([class]) { margin-top: vr(4); }
	*:not([class]) + figure:not(.alignright):not(.alignleft) { margin-top: vr(4); }
	figure:not(.alignright):not(.alignleft) + *:not([class]) { margin-top: vr(4); }

	* + hr { margin-top: vr(4); }
	hr + * { margin-top: vr(4); }

	@mixin define-heading-margin($tag, $top, $bottom) {
		*:not(.alignright):not(.alignleft) + #{$tag} { margin-top: vr($top); }
		#{$tag} + *:not(.alignright):not(.alignleft) { margin-top: vr($bottom); }
		#{$tag} {
			& + figure.alignright, & + figure.alignleft {
				& + *:not(.alignright):not(.alignleft) { margin-top: vr($bottom); }
			}
		}
	}
	@include define-heading-margin(h1, 6, 6);
	@include define-heading-margin(h2, 6, 5);
	@include define-heading-margin(h3, 6, 4);
	@include define-heading-margin(h4, 5, 3);
	@include define-heading-margin(h5, 4, 2);

	p + p { margin-top: vr(1); }
	ul:not([class]) > li + li { margin-top: vr(1); }
	ol:not([class]) > li + li::before { padding-top: vr(1); }  // Must use 'padding-top' instead of 'margin-top' because ol's 'display' is 'table'.
	ul.stile > li + li { margin-top: vr(1); }
	ol.stile > li + li::before { padding-top: vr(1); }  // Must use 'padding-top' instead of 'margin-top' because ol's 'display' is 'table'.
	li > ul, li > ol, li > dl, dd > ul, dd > ol, dd > dl { margin-top: vr(1); }  // for nesting Lists
	* + dt { margin-top: vr(1); }
	* + figcaption { margin-top: vr(1); }

	blockquote {
		> * + * { margin-top: vr(1); }
		> *:first-child { margin-top: 0; }
	}
}
