/**
 *
 * Optional Style (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2017-12-25
 *
 */


@charset 'utf-8';

@import 'basic/query';
@import 'option/alignments';
@import 'option/container';


$stile-size-unit: 0.9rem !default;
@function vr($val) {@return $val * $stile-size-unit;}


@mixin stile-option {

	* + .alignleft,
	* + .alignright,
	.alignleft + *,
	.alignright + * {
		margin-top: vr(1);
	}

	* + figure.alignleft,
	* + figure.alignright,
	figure.alignleft + *,
	figure.alignright + * {
		margin-top: vr(4);  // for Centering View
	}

	@include for-tablet-up {
		* + figure.alignleft,
		* + figure.alignright,
		figure.alignleft + *,
		figure.alignright + * {
			margin-top: vr(1);  // for Actual Floating View
		}
	}

	@mixin define-figure-margin($tag, $top) {
		#{$tag} { & + figure.alignright, & + figure.alignleft { margin-top: vr($top); } }
	}
	@include define-figure-margin(h1, 6);
	@include define-figure-margin(h2, 4);
	@include define-figure-margin(h3, 4);
	@include define-figure-margin(h4, 2);
	@include define-figure-margin(h5, 2);

	.size-thumbnail {
		max-width: 10rem;
		width: 100%;
	}

	.size-medium {
		max-width: 20rem;
		width: 100%;
	}

	.size-large {
		max-width: 40rem;
		width: 100%;
	}


	td, th {

		.size-thumbnail {
			min-width: 5rem;
		}

		.size-medium {
			min-width: 10rem;
		}

		.size-large {
			min-width: 20rem;
		}

	}

}
