/**
 * Stack
 *
 * @author Takuto Yanagida
 * @version 2022-10-26
 */

@mixin property-stack {
	// main
	--nc-tab-stack-tab-min-width: 2rem;
	--nc-tab-stack-tab-max-width: 30vw;
	--nc-tab-stack-tab-gap      : 0.25rem 1rem;

	// print
	--nc-tab-stack-bar-print-scale: 0.75;
}

@mixin stack($do-reset: true) {
	position      : relative;
	z-index       : 0;
	display       : flex;
	flex-direction: column;

	> * {
		margin: 0;
	}

	> div {
		position       : absolute;
		inset-block-end: 1000vh;
		pointer-events : none;

		opacity: 0;
		> * { opacity: 0; }
	}
	> div[data-nc-current] {
		position      : static;
		flex-grow     : 1;
		pointer-events: auto;

		opacity: 1;
		> * { opacity: 1; }
	}

	[data-nc-tab-bar] {  // ul
		display  : flex;
		flex-wrap: wrap;
		gap      : var(--nc-tab-stack-tab-gap);

		clear  : both;
		z-index: 1;

		@if $do-reset {
			padding: 0;  // For reset
		}

		li {
			display  : flex;
			max-width: 100%;

			a {
				display  : inline-block;
				min-width: var(--nc-tab-stack-tab-min-width);

				max-width    : var(--nc-tab-stack-tab-max-width);
				text-overflow: ellipsis;
				white-space  : nowrap;
				overflow     : hidden;

				&[data-nc-current] {
					pointer-events: none;
				}
			}
		}
	}

	&[data-nc-vertical] {
		[data-nc-tab-bar] {
			flex-direction: column;
			li a {
				width    : 100%;
				max-width: 100%;

				&[data-nc-current] {
					pointer-events: auto;
				}
			}

			&:first-child {
				li[data-nc-current] ~ li { display: none; }
			}
			&:last-child {
				li { display: none; }
				li[data-nc-current] ~ li { display: flex; }
			}
		}
	}
}

@mixin stack-print {
	[data-nc-tab-bar] {
		width    : calc(1 / var(--nc-tab-stack-bar-print-scale) * 100%);
		transform: scale(var(--nc-tab-stack-bar-print-scale));

		&:first-child {
			transform-origin: bottom left;
		}
		&:last-child {
			transform-origin: top left;
		}
	}
}


// -----------------------------------------------------------------------------


@mixin property-stack-bar {
	--nc-tab-stack-bar-background: #eee;

	--nc-tab-stack-tab-padding           : 0.35rem 0.5rem;

	--nc-tab-stack-tab-color             : inherit;
	--nc-tab-stack-tab-background        : transparent;
	--nc-tab-stack-tab-hover-color       : inherit;
	--nc-tab-stack-tab-hover-background  : #ddd;
	--nc-tab-stack-tab-current-color     : inherit;
	--nc-tab-stack-tab-current-background: #ccc;

	--nc-tab-stack-page-background: #fefefe;
	--nc-tab-stack-page-padding   : 2rem;
	--nc-tab-stack-page-border    : 1px solid #ddd;
}

@mixin stack-bar {
	[data-nc-tab-bar] {
		background: var(--nc-tab-stack-bar-background);

		li {
			a {
				padding   : var(--nc-tab-stack-tab-padding);
				color     : var(--nc-tab-stack-tab-color);
				background: var(--nc-tab-stack-tab-background);
			}
			@media (hover: hover) {
				a:hover {
					color     : var(--nc-tab-stack-tab-hover-color);
					background: var(--nc-tab-stack-tab-hover-background);
				}
			}
			a[data-nc-current] {
				color     : var(--nc-tab-stack-tab-current-color);
				background: var(--nc-tab-stack-tab-current-background);
			}
		}
	}
	> div {
		border    : var(--nc-tab-stack-page-border);
		background: var(--nc-tab-stack-page-background);
		padding   : var(--nc-tab-stack-page-padding);
	}
}


// -----------------------------------------------------------------------------


@mixin property-stack-tab {
	--nc-tab-stack-bar-background: #eee;

	--nc-tab-stack-tab-border                    : 1px solid transparent;
	--nc-tab-stack-tab-padding                   : 0.35rem 0.5rem;

	--nc-tab-stack-tab-color                     : inherit;
	--nc-tab-stack-tab-background                : transparent;
	--nc-tab-stack-tab-hover-color               : inherit;
	--nc-tab-stack-tab-hover-background          : #ddd;
	--nc-tab-stack-tab-current-color             : inherit;
	--nc-tab-stack-tab-current-background        : #fff;
	--nc-tab-stack-tab-current-border-inline     : 1px solid #ddd;
	--nc-tab-stack-tab-current-border-block-start: 1px solid #ddd;
	--nc-tab-stack-tab-current-border-block-end  : 1px dashed #ddd;

	--nc-tab-stack-page-background: #fefefe;
	--nc-tab-stack-page-padding   : 2rem;
	--nc-tab-stack-page-border    : 1px solid #ddd;
}

@mixin stack-tab {
	[data-nc-tab-bar] {
		background: var(--nc-tab-stack-bar-background);

		li {
			a {
				padding   : var(--nc-tab-stack-tab-padding);
				color     : var(--nc-tab-stack-tab-color);
				background: var(--nc-tab-stack-tab-background);
				border    : var(--nc-tab-stack-tab-border);
			}
			@media (hover: hover) {
				a:hover {
					color     : var(--nc-tab-stack-tab-hover-color);
					background: var(--nc-tab-stack-tab-hover-background);
				}
			}
			a[data-nc-current] {
				position: relative;

				color        : var(--nc-tab-stack-tab-current-color);
				background   : var(--nc-tab-stack-tab-current-background);
				border-inline: var(--nc-tab-stack-tab-current-border-inline);
			}
		}

		&:first-child {
			li a[data-nc-current] {
				inset-block-end: -1px;

				border-block-start: var(--nc-tab-stack-tab-current-border-block-start);
				border-block-end  : var(--nc-tab-stack-tab-current-border-block-end);
			}
		}
		&:last-child {
			li a[data-nc-current] {
				inset-block-start: -1px;

				border-block-start: var(--nc-tab-stack-tab-current-border-block-end);
				border-block-end  : var(--nc-tab-stack-tab-current-border-block-start);
			}
		}
	}
	> div {
		border    : var(--nc-tab-stack-page-border);
		background: var(--nc-tab-stack-page-background);
		padding   : var(--nc-tab-stack-page-padding);
	}
}
