/**
 *
 * Block
 *
 * @author Takuto Yanagida
 * @version 2022-01-06
 *
 */


@use '__utility' as utility;


@mixin property-block {
	--nc-content-hr-rule-border: var(--rule-border, 2px solid #777);

	--nc-content-blockquote-rule-border  : var(--rule-border, 2px solid #777);
	--nc-content-blockquote-rule-offset  : 0.25em;  // Offset for line height
	--nc-content-blockquote-min-width    : 36rem;
	--nc-content-blockquote-indent-width : 3rem;
	--nc-content-blockquote-indent-shrink: 1.5rem;

	--nc-content-pre-background: var(--background, #7774);
	--nc-content-pre-padding   : 1.75rem 2rem;
}

@mixin block($do-reset: true) {
	p,
	div:where(:not([class])) {
		text-align: start;
		hyphens   : auto;
	}

	hr {
		@if $do-reset {
			border: none;  // For reset
		}
		border-block-start: var(--nc-content-hr-rule-border);
	}

	blockquote {
		margin-inline       : 0;
		padding-inline-start: utility.bp(
			calc(var(--nc-content-blockquote-indent-width) - var(--nc-content-blockquote-indent-shrink)),
			var(--nc-content-blockquote-indent-width),
			var(--nc-content-blockquote-min-width),
		);

		position: relative;
		&::before {
			content: '';

			position          : absolute;
			inset-inline-start: 0;
			inset-block-start : var(--nc-content-blockquote-rule-offset);
			height            : calc(100% - 2 * var(--nc-content-blockquote-rule-offset));

			border-inline-end: var(--nc-content-blockquote-rule-border);

			width: utility.bp(
				1px,
				calc(var(--nc-content-blockquote-indent-width) / 2),
				var(--nc-content-blockquote-min-width)
			);
		}

		font-style: normal;

		> cite {
			display   : block;
			text-align: start;
			font-style: normal;
		}
	}

	pre {
		background-color: var(--nc-content-pre-background);
		padding         : var(--nc-content-pre-padding);

		overflow-x: auto;

		> code {
			background-color: transparent;
			white-space     : pre;
		}
	}

	address {  // Fix italic.
		font-style: normal;
	}
}

@mixin heading {
	h1, h2, h3, h4, h5, h6 {
		hyphens              : auto;
		font-feature-settings: 'pkna' 1;

		overflow-wrap: break-word;

		> small { display: block; }
		span {
			display        : inline-block;
			text-decoration: inherit;
		}
		div {
			line-height: inherit;
			text-align : inherit;
		}
		break-after: avoid;
	}
}
