/**
 *
 * Block Style
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2018-05-03
 *
 */


$block-color-line          : #369 !default;
$block-color-shade         : rgba(lighten($block-color-line, 55%), 0.85) !default;
$block-size-line-width     : 2px !default;
$block-size-font-figcaption: 0.85rem !default;

$stile-size-unit: 0.9rem !default;
@function vr($val) { @return $val * $stile-size-unit; }


@mixin stile-block {

	@include stile-block-main;
	@include stile-block-color($block-color-line, $block-color-shade);
	@include stile-block-figure;

}

@mixin stile-block-main {

	p {
		text-align: justify;
		@include for-ie { text-align: left; }
		line-height: vr(2);

		-ms-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;
	}

	embed, iframe, object { max-width: 100%; }

	hr {
		height: $block-size-line-width;
		border: none;
	}

	blockquote {
		font-style: italic;
		padding-left: vr(4);

		position: relative;
		&::before {
			content: '';
			display: block;
			position: absolute;
			left: vr(2);
			width: $block-size-line-width;
			height: 100%;
		}
	}

	pre {
		@include font-family-monospace;
		display: block;
		padding: vr(2);
		overflow-x: auto;
		line-height: vr(2);
	}

	pre > code {
		padding: 0;
		background-color: transparent;
		white-space: pre;
	}

}

@mixin stile-block-color($color-line, $color-shade: $color-line) {

	hr { background-color: $color-line; }

	blockquote::before { background-color: $color-line; }

	pre { background-color: $color-shade; }

}

@mixin stile-block-figure {

	figure:not([class]) { max-width: 100%; }

	figure img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-height: 100vh;
	}

	figure {
		text-align: center;  // for centering short caption
	}

	figcaption {
		display: inline-block;
		text-align: left;  // for left align of long caption
		font-size: $block-size-font-figcaption;
		line-height: 1.5;
	}

}
