/**
 *
 * Inline Style
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2018-03-29
 *
 */


$inline-color-link-text:         #1a0dab                             !default;  // Same as Google's
$inline-color-link-text-visited: #609                                !default;  // Same as Google's
$inline-color-link-bg:           rgba($inline-color-link-text, 0.05) !default;

$stile-size-unit: 0.9rem !default;
@function vr($val) {@return $val * $stile-size-unit;}


@mixin stile-link-mark {
	font-family: 'Material Icons';

	display: inline-block;
	font-style: normal;
	line-height: 1;
	@include font-bold-cancel;

	width: 1rem;
	height: 1rem;
	overflow: hidden;  // for removing underline on IE11

	transform: translateY(0.15rem);
}

@mixin stile-link-anchor {
	content: '\E5DB';
	@include stile-link-mark;
}

@mixin stile-link-external {
	content: '\E0B2';
	@include stile-link-mark;
}

@mixin stile-link {

	a:not([class]) {
		&[data-style ~= 'simple-link'] {
			text-decoration: none;
			color: $inline-color-link-text;

			margin-left: 0.1rem;
			margin-right: 0.1rem;
			padding: 0.15rem 0;
			background-color: $inline-color-link-bg;
			border-radius: 0.25rem;

			&:hover {
				color: $inline-color-link-text;
				text-decoration: underline;
				&::after {
					text-decoration: none;
				}
			}
			&:visited {
				color: $inline-color-link-text-visited;
			}
		}

		// Add Anchor Link Icon

		&[data-style ~= 'anchor-link']::after {
			@include stile-link-anchor;
		}

		// Add External Link Icon

		&[data-style ~= 'external-link']::after {
			@include stile-link-external;
		}

		// Show Url Instead of Empty Text

		&[href ^= 'http']:empty::before {
			content: attr(href);
			word-break: break-all;
			display: inline;
		}
	}

}
