/**
 *
 * List
 *
 * @author Takuto Yanagida
 * @version 2022-03-16
 *
 */


@use '_list';


:root {
	@include list.property;
}

:is(ul, ol):where(:not([class]), [class^='is-style-'], [class*=' is-style-']) {
	@include list.un-ordered;

	&.is-style-circle { list-style: circle; }
	&.is-style-square { list-style: square; }

	&.is-style-lower-alpha { list-style: lower-alpha; }
	&.is-style-lower-greek { list-style: lower-greek; }
	&.is-style-lower-roman { list-style: lower-roman; }
	&.is-style-upper-alpha { list-style: upper-alpha; }
	&.is-style-upper-roman { list-style: upper-roman; }
}

dl:where(:not([class])) {
	@include list.definition;
}

ul[data-nc-list] {
	@include list.custom;
}
