/**
 *
 * Embedded
 *
 * @author Takuto Yanagida
 * @version 2021-11-29
 *
 */


@mixin embedded {
	:where(img, svg, video, canvas, iframe, embed, object, audio) {
		max-width     : 100%;
		vertical-align: middle;
	}

	:where(img, svg, video, canvas) {
		height: auto;
	}

	:where(iframe) {
		border: 0;
	}
}
