/**
 *
 * Form
 *
 * @author Takuto Yanagida
 * @version 2021-11-29
 *
 */


%button-like {
	border       : 1px solid ButtonFace;
	border-radius: 0;
	color        : inherit;
}

@mixin form {
	:where(fieldset) {
		margin : 0;
		padding: 0;
		border : 0;
	}

	:where(select) {
		appearance: none;

		margin : 0;  // for Safari on iOS
		padding: 0;  // for Safari on iOS

		@extend %button-like;
	}

	:where(optgroup) {
		font-weight: normal;
		font-style : normal;  // for Firefox
	}

	:where(option, legend) {
		padding: 0;
	}

	:where(textarea) {
		resize: vertical;

		margin : 0;
		padding: 0;

		@extend %button-like;
	}

	:where(meter, progress) {
		vertical-align: baseline;  // for Chrome, Edge, and Firefox.
	}


	// -------------------------------------------------------------------------


	:where(button, input) {
		margin : 0;  // for Checkboxes & radio buttons in all, and buttons in Safari on iOS
		padding: 0;

		@extend %button-like;
	}

	:where(button, [type="button" i], [type="reset" i], [type="submit" i], [role="button" i]) {
		cursor: pointer;
	}

	:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
		appearance: button;  // Correct the style buttons in Safari on iOS
	}

	:where([type="submit" i]) {
		font-weight: inherit;  // Correct the style buttons in Safari on iOS
	}

	:where([type="date" i], [type="week" i], [type="month" i], [type="datetime-local" i]) {
		appearance: none;  // for Safari on iOS
	}

	:where([type="search" i]) {
		appearance: textfield;  // for Safari on macOS/iOS
		@supports (not (-webkit-touch-callout: none)) and (font: -apple-system-body) {
			outline-offset: -2px;  // for Safari on macOS only
		}
	}

	::file-selector-button {
		appearance: button;
		font      : inherit;

		padding: 0;
		@extend %button-like;
	}


	// -------------------------------------------------------------------------


	:where([disabled]) {
		cursor: default;
	}
}
