/**
 *
 * Classes for Alignments (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2017-08-10
 *
 */


@charset 'utf-8';


.alignleft,
.alignright,
.aligncenter {
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: vr(1);  // for these classes specific!
	text-align: center;
}

.alignleft:not(.size-full) {
	@include for-tablet-up {
		display: inline;
		float: left;
		margin-right: vr(2);
		max-width: 50%;
		transform: translateY(#{(vr(2) - 1rem) / 2});
	}
}

.alignleft.size-full {
	@include for-tablet-landscape-up {
		display: inline;
		float: left;
		margin-right: vr(2);
		max-width: 50%;
		transform: translateY(#{(vr(2) - 1rem) / 2});
	}
}

.alignright:not(.size-full) {
	@include for-tablet-up {
		display: inline;
		float: right;
		margin-left: vr(2);
		max-width: 50%;
		transform: translateY(#{(vr(2) - 1rem) / 2});
	}
}

.alignright.size-full {
	@include for-tablet-landscape-up {
		display: inline;
		float: right;
		margin-left: vr(2);
		max-width: 50%;
		transform: translateY(#{(vr(2) - 1rem) / 2});
	}
}

.aligncenter {
	clear: both;
}
