/**
 *
 * Classes for Layout Container (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2017-12-19
 *
 */


@charset 'utf-8';

@import '../basic/layout';


.column-2,
.column-3,
.column-4 {
	> * {  // One of Columns
		> * {
			text-align: center;
			> * { text-align: left; }
		}
		> * + * { margin-top: vr(2); }
		> *:first-child.alignleft + *:not([class]) { margin-top: 0; }
		> *:first-child.alignright + *:not([class]) { margin-top: 0; }
	}
}

.column-2 {
	@include layout-card(1, vr(2));
	@include for-tablet-landscape-up {
		@include layout-card(2, vr(2));
	}
}

.column-3 {
	@include layout-card(1, vr(2));
	@include for-desktop-up {
		@include layout-card(3, vr(2));
	}
}

.column-4 {
	@include layout-card(1, vr(2));
	@include for-tablet-portrait-up {
		@include layout-card(2, vr(2));
	}
	@include for-desktop-up {
		@include layout-card(4, vr(2));
	}
}

@mixin container-for-editor($color-editor, $size-font-small) {
	.column-2,
	.column-3,
	.column-4 {
		position: relative;
		&::before {
			position: absolute;
			top: -1rem;
			color: $color-editor;
			font-size: $size-font-small;
		}
		> * {
			padding: 1rem;
			border: dashed 1px $color-editor;
			> * + * { margin-top: 1.5rem; }
			> *:first-child { margin-top: 0; }
		}
	}
	.column-2::before { content: 'Column 2'; }
	.column-3::before { content: 'Column 3'; }
	.column-4::before { content: 'Column 4'; }
}
