/**
 *
 * Pseudo Tab Page Classes (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2018-12-12
 *
 */


@import '../basic/base';
@import '../basic/query';
@import '../basic/font';
@import '../basic/layout';


$stile-pseudo-tab-page-color-background            : #fff !default;
$stile-pseudo-tab-page-color-rule                  : rgba(#777, 0.35) !default;
$stile-pseudo-tab-page-color-rule-vertical         : false !default;
$stile-pseudo-tab-page-color-tab-background        : transparent !default;
$stile-pseudo-tab-page-color-tab-rule              : rgba(#777, 0.35) !default;
$stile-pseudo-tab-page-color-tab-background-hover  : transparent !default;

$stile-pseudo-tab-page-color-tab-current-background: transparent !default;
$stile-pseudo-tab-page-color-tab-current-rule      : $stile-pseudo-tab-page-color-rule !default;
$stile-pseudo-tab-page-color-tab-current-top       : $stile-pseudo-tab-page-color-rule !default;

$stile-pseudo-tab-page-color-tab-text-current      : rgba(#000, 0.95) !default;
$stile-pseudo-tab-page-color-tab-text              : rgba($stile-pseudo-tab-page-color-tab-text-current, 0.50) !default;
$stile-pseudo-tab-page-color-tab-text-hover        : $stile-pseudo-tab-page-color-tab-text-current !default;

$stile-pseudo-tab-page-size-tab-current-top        : 2px !default;
$stile-pseudo-tab-page-size-tab-margin             : 0.5rem !default;
$stile-pseudo-tab-page-level-font                  : 1 !default;


@mixin stile-pseudo-tab-page {
	.pseudo-tab-page {
		position: relative;
		display: flex;
		flex-direction: column;

		// Margins inside
		@include stile-margin-basic;
	}
	.stile-pseudo-tab-page-tab-list li {
		position: relative;
		@include layout-centering();
		padding: base-vr(0.5) base-vr(1);
		@include for-tablet-landscape-up { padding: base-vr(0.5) base-vr(2); }

		@include font-bold;
		@include font-proportional;
		@include font-size-level($stile-pseudo-tab-page-level-font);

		background-color: $stile-pseudo-tab-page-color-tab-background;
		color: $stile-pseudo-tab-page-color-tab-text;
		&:not([data-stile ~= 'current']):hover {
			background-color: $stile-pseudo-tab-page-color-tab-background-hover;
			color: $stile-pseudo-tab-page-color-tab-text-hover;
		}
		cursor: pointer;
		user-select: none;
		border-radius: 1px;
	}
	.stile-pseudo-tab-page-tab-list {  // Must be a class for avoiding auto formating of list style
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;

		@include layout-gap($stile-pseudo-tab-page-size-tab-margin, $stile-pseudo-tab-page-size-tab-margin);

		&:not(:first-child) { margin-top: base-vr(6); }
		& + *:not(.alignright):not(.alignleft) {
			margin-top: base-vr(2);
		}

		li[data-stile ~= 'current'] {
			border: 1px solid $stile-pseudo-tab-page-color-tab-current-rule;
			border-left: $stile-pseudo-tab-page-size-tab-current-top solid $stile-pseudo-tab-page-color-tab-current-top;
			border-right-color: $stile-pseudo-tab-page-color-background;
			background-color: $stile-pseudo-tab-page-color-tab-current-background;
			color: $stile-pseudo-tab-page-color-tab-text-current;
		}
		min-height: 3rem;
		li {
			border: 1px solid $stile-pseudo-tab-page-color-tab-rule;
			border-right-color: transparent;

			&[data-stile ~= 'current'] {
				cursor: initial;
				user-select: initial;
			}
		}
	}
}
