/**
 *
 * Pseudo Tab Page Classes (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2018-12-11
 *
 */


@import '../basic/base';
@import '../basic/query';
@import '../basic/font';
@import '../basic/layout';


$stile-tab-page-color-background              : #fff !default;
$stile-tab-page-color-rule                    : rgba(#777, 0.35) !default;
$stile-tab-page-color-rule-vertical           : false !default;
$stile-tab-page-color-tab-background          : transparent !default;
$stile-tab-page-color-tab-rule                : transparent !default;
$stile-tab-page-color-tab-background-hover    : transparent !default;

$stile-tab-page-color-tab-current-background  : transparent !default;
$stile-tab-page-color-tab-current-rule        : $stile-tab-page-color-rule !default;
$stile-tab-page-color-tab-current-top         : $stile-tab-page-color-rule !default;

$stile-tab-page-color-tab-text-current        : rgba(#000, 0.95) !default;
$stile-tab-page-color-tab-text                : rgba($stile-tab-page-color-tab-text-current, 0.50) !default;
$stile-tab-page-color-tab-text-hover          : $stile-tab-page-color-tab-text-current !default;

$stile-tab-page-size-tab-current-top          : 2px !default;
$stile-tab-page-size-tab-margin               : 0.25rem !default;
$stile-tab-page-level-font                    : 1 !default;


@mixin stile-pseudo-tab-page {
	.pseudo-tab-page {
		position: relative;
		display: flex;
		flex-direction: column;
	}
	.stile-pseudo-tab-page-tab-list li {
		position: relative;
		@include layout-centering();
		padding: base-vr(0.5) base-vr(1);
		@include for-tablet-landscape-up { padding: base-vr(0.5) base-vr(2); }

		@include font-bold;
		@include font-proportional;
		@include font-size-level($stile-tab-page-level-font);

		background-color: $stile-tab-page-color-tab-background;
		color: $stile-tab-page-color-tab-text;
		&:not([data-stile ~= 'current']):hover {
			background-color: $stile-tab-page-color-tab-background-hover;
			color: $stile-tab-page-color-tab-text-hover;
		}
		cursor: pointer;
		user-select: none;
		border-radius: 1px;
	}
	.stile-pseudo-tab-page-tab-list {  // Must be a class for avoiding auto formating of list style
		display: flex;
		justify-content: flex-start;

		&:not(:first-child) { margin-top: base-vr(8); }
		& + *:not(.alignright):not(.alignleft) {
			margin-top: base-vr(4);
		}

		li[data-stile ~= 'current'] {
			border: 1px solid $stile-tab-page-color-tab-current-rule;
			border-top: $stile-tab-page-size-tab-current-top solid $stile-tab-page-color-tab-current-top;
			border-bottom-color: $stile-tab-page-color-background;
			background-color: $stile-tab-page-color-tab-current-background;
			color: $stile-tab-page-color-tab-text-current;
		}

		min-height: 3rem;
		border-bottom: 1px solid $stile-tab-page-color-rule;
		li {
			border: 1px solid $stile-tab-page-color-tab-rule;
			border-bottom-color: transparent;

			&[data-stile ~= 'current'] {
				top: 1px;
				cursor: initial;
				user-select: initial;
			}
		}
		li + li {
			margin-left: $stile-tab-page-size-tab-margin;
		}
	}
}
