/**
 *
 * Tab Page Classes (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2018-05-31
 *
 */


@import '../basic/base';
@import '../basic/query';
@import '../basic/font';
@import '../basic/layout';

$stile-tab-page-color-bg              : #fff !default;
$stile-tab-page-color-line            : rgba(#777, 0.35) !default;
$stile-tab-page-color-tab             : transparent !default;
$stile-tab-page-color-tab-current     : rgba(#fff, 0.75) !default;
$stile-tab-page-color-tab-text        : rgba(#000, 0.5) !default;
$stile-tab-page-color-tab-text-current: rgba(#000, 0.95) !default;
$stile-tab-page-color-tab-separator   : $stile-tab-page-color-line !default;
$stile-tab-page-color-tab-top-current : rgba(#777, 0.75) !default;
$stile-tab-page-size-tab-top-current  : 2px !default;
$stile-tab-page-size-font             : 1rem !default;
$stile-tab-page-size-tab-margin       : 0.25rem !default;


@mixin stile-tab-page {
	.tab-page {
		position: relative;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		> div {
			position: absolute;
			left: 100vw;
			visibility: hidden;
			opacity: 0;
			transition: opacity 1s;

			width: 100%;
			border-left: 1px solid $stile-tab-page-color-line;
			border-right: 1px solid $stile-tab-page-color-line;
			border-bottom: 1px solid $stile-tab-page-color-line;
			background-color: $stile-tab-page-color-bg;
			padding: base-vr(2);

			// Margins inside
			@include stile-margin-basic;
		}
		> div[data-stile ~= 'current'] {
			position: static;
			flex-grow: 1;
			left: 0;
			visibility: visible;
			opacity: 1;
			transition: opacity 1s;
		}
	}
	.stile-tab-page-tab-list {  // Must be a class for avoiding auto formating of list style
		display: flex;
		justify-content: flex-start;

		padding-left: 0;
		border-bottom: 1px solid $stile-tab-page-color-line;

		li {
			@include layout-centering();

			padding: base-vr(0.5) base-vr(1);
			@include for-tablet-up { padding: base-vr(0.5) base-vr(2); }
			
			border: 1px solid $stile-tab-page-color-tab;
			background-color: $stile-tab-page-color-tab;
			color: $stile-tab-page-color-tab-text;
			font-size: $stile-tab-page-size-font;
			line-height: base-vr(2);
			@include font-bold;
			@include font-proportional;
			
			position: relative;
			top: 1px;

			&[data-stile ~= 'current'] {
				border: 1px solid $stile-tab-page-color-line;
				border-top: $stile-tab-page-size-tab-top-current solid $stile-tab-page-color-tab-top-current;
				border-bottom-color: $stile-tab-page-color-bg;
				background-color: $stile-tab-page-color-tab-current;
				color: $stile-tab-page-color-tab-text-current;
			}
			&:not([data-stile ~= 'current']) {
				cursor: pointer;
				user-select: none;
			}
		}
		li + li {
			margin-left: $stile-tab-page-size-tab-margin;
		}
	}
}
