/**
 *
 * Main
 *
 * @author Takuto Yanagida
 * @version 2021-12-26
 *
 */


@mixin property-appearance {
	--nc-table-rule-color: #ddd;
	--nc-table-rule-width: 2px;

	--nc-table-cell-padding   : 0.25rem 0.5rem;
	--nc-table-cell-rule-color: #ddd;
	--nc-table-cell-rule-width: 1px;

	--nc-table-header-background: #ddd;
	--nc-table-caption-max-width: 90%;
}

@mixin appearance {
	font-feature-settings: 'pkna' 1;

	caption {
		font-size: 87.25%;
		text-align: center;

		> span {
			display   : inline-block;
			max-width : var(--nc-table-caption-max-width);
			text-align: start;
		}

		// Margin
		padding-block-end: 0.75rem;  // Must use 'padding-block-end'
	}

	:is(thead, tbody:first-child, caption + tbody, colgroup + tbody) {
		border-block-start: var(--nc-table-rule-width) solid var(--nc-table-rule-color);
		> tr:first-child :is(th, td) {
			border-block-start: none;
		}
	}

	:is(tbody, tfoot) {
		border-block-end: var(--nc-table-rule-width) solid var(--nc-table-rule-color);
	}

	:is(th, td) {
		padding: var(--nc-table-cell-padding);

		border-block-start: var(--nc-table-cell-rule-width) solid var(--nc-table-cell-rule-color);

		&:where(:not(:first-child)) {
			border-inline-start: var(--nc-table-cell-rule-width) solid var(--nc-table-cell-rule-color);
		}
		&:where(:first-child[rowspan]) {
			border-inline-end: var(--nc-table-cell-rule-width) solid var(--nc-table-cell-rule-color);
		}
	}
	:is(thead td, th) {
		font-weight: bold;
		text-align : center;

		background: var(--nc-table-header-background);
	}
	td p:not([class]) {
		text-align: initial;
	}
	td {
		vertical-align: top;
	}
}

@mixin appearance-header {
	font-feature-settings: 'pkna' 1;

	:is(thead) {
		border-block-start: var(--nc-table-rule-width) solid var(--nc-table-rule-color);
		> tr:first-child :is(th, td) {
			border-block-start: none;
		}
	}

	:is(th, td) {
		padding: var(--nc-table-cell-padding);

		border-block-start: var(--nc-table-cell-rule-width) solid var(--nc-table-cell-rule-color);

		&:where(:not(:first-child)) {
			border-inline-start: var(--nc-table-cell-rule-width) solid var(--nc-table-cell-rule-color);
		}
		&:where(:first-child[rowspan]) {
			border-inline-end: var(--nc-table-cell-rule-width) solid var(--nc-table-cell-rule-color);
		}
	}
	:is(thead td, th) {
		font-weight: bold;
		text-align : center;

		background: var(--nc-table-header-background);
	}
}


// -----------------------------------------------------------------------------


@mixin property-appearance-stripe {
	--nc-table-background-second: #eee;
}

@mixin appearance-stripe {
	tr:nth-child(odd) > td {
		background: var(--nc-table-background-second);
	}
	td, th {
		border-color: transparent;
	}
}
