/**
 *
 * Buttons
 *
 * @author Takuto Yanagida
 * @version 2022-08-16
 *
 */


@use 'common';


%base-button-rect {
	@extend %base;
	@extend %focus;

	color           : var(--nc-button-color);
	background-color: var(--nc-button-background-color);
	border          : var(--nc-button-border-base);
	border-color    : var(--nc-button-border-color);

	padding: var(--nc-button-padding);

	display    : inline-grid;
	place-items: center;

	cursor     : pointer;
	user-select: none;
}

@mixin button {
	@extend %base-button-rect;
}
