/**
 * Container
 *
 * @author Takuto Yanagida
 * @version 2023-01-05
 */

@use '_container';

:root {
	@include container.property;
}


// -----------------------------------------------------------------------------


.column-2 {
	--nc-container-min-width: var(--nc-container-min-width-2);
	@include container.card-n;
}

.column-3 {
	@include container.card-3-1;
}

.column-4 {
	@include container.card-4-2-1;
}

.column-5 {
	@include container.card-5-3-2-1;
}

.column-6 {
	@include container.card-6-3-2-1;
}


// -----------------------------------------------------------------------------


.column-2-1 {
	--nc-container-min-width: var(--nc-container-min-width-2);
	@include container.card-n;
}

.column-3-1 {
	@include container.card-3-1;
}

.column-4-1 {
	@include container.card-4-1;
}

.column-5-1 {
	@include container.card-5-1;
}

.column-6-1 {
	@include container.card-6-1;
}


// -----------------------------------------------------------------------------


:is(.card-2, .card-3, .card-4, .card-5, .card-6) {
	@include container.card-n;
}

.card-2 { --nc-container-min-width: var(--nc-container-min-width-2); }
.card-3 { --nc-container-min-width: var(--nc-container-min-width-3); }
.card-4 { --nc-container-min-width: var(--nc-container-min-width-4); }
.card-5 { --nc-container-min-width: var(--nc-container-min-width-5); }
.card-6 { --nc-container-min-width: var(--nc-container-min-width-6); }


// -----------------------------------------------------------------------------


:is(.masonry-2, .masonry-3, .masonry-4, .masonry-5, .masonry-6) {
	@include container.card-n;
	@include container.masonry-n;
}

.masonry-2 { --nc-container-min-width: var(--nc-container-min-width-2); }
.masonry-3 { --nc-container-min-width: var(--nc-container-min-width-3); }
.masonry-4 { --nc-container-min-width: var(--nc-container-min-width-4); }
.masonry-5 { --nc-container-min-width: var(--nc-container-min-width-5); }
.masonry-6 { --nc-container-min-width: var(--nc-container-min-width-6); }


// -----------------------------------------------------------------------------


:is(.fence-2, .fence-3, .fence-4, .fence-5, .fence-6) {
	@include container.fence-n;
}

.fence-2 { --nc-container-min-width: var(--nc-container-min-width-2); }
.fence-3 { --nc-container-min-width: var(--nc-container-min-width-3); }
.fence-4 { --nc-container-min-width: var(--nc-container-min-width-4); }
.fence-5 { --nc-container-min-width: var(--nc-container-min-width-5); }
.fence-6 { --nc-container-min-width: var(--nc-container-min-width-6); }
