/**
 *
 * Stile Sample (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2019-06-10
 *
 */

@charset 'utf-8';

$stile-content-color-rule      : rgba(#447, 0.35);
$stile-content-color-accent    : rgba(#44b, 0.90);
$stile-content-color-heading   : rgba(#447, 0.95);
$stile-content-color-background: rgba(#447, 0.10);

$stile-margin-align-table        : left;
$stile-table-align-caption       : left;
$stile-link-icon-file            : '\e226';
$stile-tab-page-visible-tab-below: true;
// $stile-pseudo-tab-page-hidden-redundant-tab: false;
// $stile-print-enabled-link-url: false;

@import '../dist/sass/basic';
@import '../dist/sass/content';
@import '../dist/sass/option';

@include stile-pseudo-tab-page-variable-simple;


:root {
	font-size: 14px;
	@include font-responsive-size-interval(600px, 900px, 14px, 16px);
	@include font-responsive-size-interval(900px, 1800px, 16px, 20px);
	@include for-big-desktop-up { font-size: 20px; }
}

body {
	@include font-family();
	@include font-smoothing;
	@include font-visible-chrome;

	padding-top: 6rem;
	padding-bottom: 6rem;
	overflow-x: hidden;
}

.stile {
	@include layout-side-margin(48rem, 1rem);
	@include for-tablet-up { @include layout-side-margin(48rem, 2rem); }

	@include stile-content;
	@include stile-option(true);
	color: hsla(0, 0, 0, 0.75);

	> div:not([class]) { @include stile-margin; }

	a:not([class])[data-stile ~= 'link-file-pdf']::after { content: '\e0e0'; }
	a:not([class])[data-stile ~= 'link-file-word']::after { content: '\e873'; }
	a:not([class])[data-stile ~= 'link-file-excel']::after { content: '\e5c3'; }
	a:not([class])[data-stile ~= 'link-file-powerpoint']::after { content: '\e071'; }

	@for $i from -1 through 6 {
		.font-size-level-#{$i} { @include font-size-level($i); }
	}

	.kerning > span {
		background: rgba(red, 0.5);
	}

	.segmenter {
		text-align: left;
		span {
			display: inline-block;
			margin: 0 0.25rem;
			background-size: 100% 0.25rem;
			background-repeat: no-repeat;
			background-position: left bottom;
		}
		> span { background-image: linear-gradient(to right, red 0%, rgba(red, 0.5) 100%); }
		> * > span { background-image: linear-gradient(to right, blue 0%, rgba(blue, 0.5) 100%); }
	}
}


// -----------------------------------------------------------------------------


.width-query,
.height-query,
.browser-query {
	padding: 1rem;
	border: 1px solid gray;
}

.width-query {
	&.phone-only {
		@include for-phone-only            { border: 2px solid red; }
	}
	&.tablet-up {
		@include for-tablet-up             { border: 2px solid red; }
	}
	&.tablet-only {
		@include for-tablet-only           { border: 2px solid red; }
	}
	&.tablet-portrait-up {
		@include for-tablet-portrait-up    { border: 2px solid red; }
	}
	&.tablet-portrait-only {
		@include for-tablet-portrait-only  { border: 2px solid red; }
	}
	&.tablet-landscape-up {
		@include for-tablet-landscape-up   { border: 2px solid red; }
	}
	&.tablet-landscape-only {
		@include for-tablet-landscape-only { border: 2px solid red; }
	}
	&.desktop-up {
		@include for-desktop-up            { border: 2px solid red; }
	}
	&.desktop-only {
		@include for-desktop-only          { border: 2px solid red; }
	}
	&.big-desktop-up {
		@include for-big-desktop-up        { border: 2px solid red; }
	}
}

.height-query {
	&.small-height-only {
		@include for-small-height-only  { border: 2px solid red; }
	}
	&.medium-height-up {
		@include for-medium-height-up   { border: 2px solid red; }
	}
	&.medium-height-only {
		@include for-medium-height-only { border: 2px solid red; }
	}
	&.large-height-up {
		@include for-large-height-up    { border: 2px solid red; }
	}
}

.browser-query {
	&.chrome {
		@include for-chrome  { border: 2px solid red; }
	}
	&.firefox {
		@include for-firefox { border: 2px solid red; }
	}
	&.safari {
		@include for-safari  { border: 2px solid red; }
	}
	&.edge {
		@include for-edge    { border: 2px solid red; }
	}
	&.ie {
		@include for-ie      { border: 2px solid red; }
	}
}


// -----------------------------------------------------------------------------


*[class ^='layout-'] {
	border: 1px dashed blue;
	> div {
		background-color: rgba(red, 0.5);
		border: 4px solid pink;
	}
}
.col-2 {
	@include layout-wrap-responsive(24rem, 2, 2rem);
	align-items: flex-start;
}

.layout-side-margin {
	@include layout-side-margin(40rem, 1rem);
}
.layout-width-responsive {
	> div {
		@include layout-width-responsive(32rem, 40%, 100%);
	}
}
.layout-full-width {
	@include layout-full-width(1rem);
}

.layout-centering {
	height: 6rem;
	@include layout-centering(false);
	> div { display: inline-block; }
}
.layout-centering-self {
	height: 6rem;
	> div {
		display: inline-block;
		@include layout-centering-self(true, true, relative);
	}
}
.layout-fill-self {
	position: relative;
	height: 6rem;
	> div { @include layout-fill-self; }
}

.layout-aspect {
	width: 20rem;
	@include layout-aspect(3, 1);
}
.layout-aspect-expandable {
	width: 20rem;
	@include layout-aspect(3, 1, true);
}
*[data-stile ~= 'layout-frame-contain'] {
	@include layout-frame-contain(3, 2);
	display: block;
	border: 1px dashed blue;
}

.layout-wrap {
	@include layout-wrap((1rem 2rem));
}

@for $i from 2 through 4 {
	.layout-wrap-responsive-#{$i} {
		@include layout-wrap-responsive(36rem, $i, 2rem);
	}
}

@for $i from 2 through 4 {
	.layout-column-#{$i} {
		@include layout-column($i, 2rem);
	}
}

@for $i from 1 through 4 {
	.layout-card-#{$i} {
		@include layout-card($i, 2rem);
	}
}

@for $i from 2 through 4 {
	.layout-masonry-#{$i} {
		@include layout-masonry($i, (2rem, 2rem));
	}
}
