/**
 *
 * Stile Sample (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2018-11-07
 *
 */

@charset 'utf-8';

$stile-content-color-rule      : rgba(#447, 0.35) !default;
$stile-content-color-accent    : rgba(#44b, 0.90) !default;
$stile-content-color-heading   : rgba(#447, 0.95)  !default;
$stile-content-color-background: rgba(#447, 0.10) !default;


@import '../dist/sass/basic';
@import '../dist/sass/content';
@import '../dist/sass/option';


:root {
	font-size: 14px;
	@include font-responsive-size-interval(600px, 900px, 14px, 16px);
	@include font-responsive-size-interval(900px, 1800px, 16px, 20px);
	@include for-big-desktop-up { font-size: 20px; }
}

body {
	@include font-family();
	@include font-smoothing;
	@include font-visible-chrome;

	padding-top: 6rem;
	padding-bottom: 6rem;
	overflow-x: hidden;
}

.stile {
	@include layout-side-margin(48rem, 1rem);
	@include for-tablet-up { @include layout-side-margin(48rem, 2rem); }

	@include stile-content;
	@include stile-option(true);
	color: hsla(0, 0, 0, 0.75);
}

.width-query,
.height-query,
.browser-query {
	padding: 1rem;
	border: 1px solid gray;
}

.width-query {
	&.phone-only {
		@include for-phone-only            { border: 2px solid red; }
	}
	&.tablet-up {
		@include for-tablet-up             { border: 2px solid red; }
	}
	&.tablet-only {
		@include for-tablet-only           { border: 2px solid red; }
	}
	&.tablet-portrait-up {
		@include for-tablet-portrait-up    { border: 2px solid red; }
	}
	&.tablet-portrait-only {
		@include for-tablet-portrait-only  { border: 2px solid red; }
	}
	&.tablet-landscape-up {
		@include for-tablet-landscape-up   { border: 2px solid red; }
	}
	&.tablet-landscape-only {
		@include for-tablet-landscape-only { border: 2px solid red; }
	}
	&.desktop-up {
		@include for-desktop-up            { border: 2px solid red; }
	}
	&.desktop-only {
		@include for-desktop-only          { border: 2px solid red; }
	}
	&.big-desktop-up {
		@include for-big-desktop-up        { border: 2px solid red; }
	}
}

.height-query {
	&.small-height-only {
		@include for-small-height-only  { border: 2px solid red; }
	}
	&.medium-height-up {
		@include for-medium-height-up   { border: 2px solid red; }
	}
	&.medium-height-only {
		@include for-medium-height-only { border: 2px solid red; }
	}
	&.large-height-up {
		@include for-large-height-up    { border: 2px solid red; }
	}
}

.browser-query {
	&.chrome {
		@include for-chrome  { border: 2px solid red; }
	}
	&.firefox {
		@include for-firefox { border: 2px solid red; }
	}
	&.safari {
		@include for-safari  { border: 2px solid red; }
	}
	&.edge {
		@include for-edge    { border: 2px solid red; }
	}
	&.ie {
		@include for-ie      { border: 2px solid red; }
	}
}
